<hr>

<div class="row">
  <div class="span12">
    <h1>View Country</h1>
    <p id="notice"><%= notice %></p>

    <p>
      <b>Name:</b>
      <%= @country.name %>
    </p>

    <p>
      <b>Visited:</b>
      <%= @country.visited %>
    </p>

    <%= link_to 'Edit', edit_country_path(@country) %> |
    <%= link_to 'Back', countries_path %>
  </div>
</div>
